body {
  margin: 60px auto;
  width: 70%;
}

nav ul, 
footer ul {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';  
  font-weight: bold;
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 3em;
}

p {
  color: #333;
  font-size: 1.5em;
  line-height: 1.4em;
  text-align: justify;
}

figure {
  align: middle;
  border: 1px #cccccc solid;
  padding: 4px;
}

figcaption {
  background-color: white;
  color: black;
  padding: 1px;
  text-align: center;
}

div.centre {
  text-align: center;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts { 
  font-size: 1.5em;
  margin: 20px auto 40px; 
}

ul.posts li {
  list-style: none;
}