/* Menu styling */
nav {
  width: 100%;
  height: 50px;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline;
  line-height: 50px;
  list-style: none;
}

nav ul li a {
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
}

/* Body styling */
body {
  color: #333;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 18px;
  line-height: 1.4em;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 853px;
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
}

/* Footer styling */
footer {
  border-top: 1px solid #d5d5d5;
}

footer ul {
  font-size: 14px;
  list-style: none;
  text-align: center;
}

/* Hyperlink styling */
a {
  text-decoration: underline;
  color: #000;
}

a:hover {
  background: #9FE2BF;
}

/* Image styling */
figure {
  float: middle;
  border: 1px #cccccc solid;
  padding: 4px;
}

figcaption {
  background-color: white;
  padding: 1px;
  text-align: center;
  font-size: 16px;
}

img {
    display: block;
    margin: 0 auto;
}
