body {
  color: #333;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 18px;
  line-height: 1.4em;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
}

#site-menu ul {
  font-size: 18px;  
  font-weight: bold; 
  list-style: none;
  margin: 0;
  padding: 10px;
  text-align: center;
}

#site-menu ul li {
  display: inline-flex;
  margin-right: 20px;
}
 
main {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 853px;
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
} 
 
a {
  text-decoration: underline;
  color: #000;
}

a:hover{
  background: #9FE2BF;
}

figure {
  float: middle;
  border: 1px #cccccc solid;
  padding: 4px;
}

figcaption {
  background-color: white;
  padding: 1px;
  text-align: center;
  font-size: 16px;
}

footer {
  border-top: 1px solid #d5d5d5;
}

footer ul {
  font-size: 14px;
  list-style: none;
  text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}